@import "https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500";

.game-title {
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 30px;
}

.game-play {
  /* border-radius: 5%; */
  /* width: 960px;
  height: 540px; */
  width: 62vw;
  height: 34.875vw;
  /* background-color: black; */
  margin-left: auto;
  margin-right: auto;
}

.menu,
.button {
  width: 100px;
  height: 100px;
  user-select: none;
}

.menu {
  position: fixed;
  top: 110px;
  left: 114px;
  transition: transform 1.125s cubic-bezier(0.39, 1.52, 0.46, 0.92);
  transform: scale3d(1, 1, 1);
  transform-origin: top left;
  cursor: pointer;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  mix-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 33%;
  font: 25px/100px Alegreya Sans, sans-serif;
  transition: transform 0.75s cubic-bezier(0.39, 1.52, 0.46, 0.92);
  will-change: transform;
  display: flex;
  justify-content: center;
}

.button.closed {
  transform: translate3d(0, 0, 0) !important;
}

.main {
  color: #030f01;
  text-align: center;
  mix-blend-mode: normal;
  line-height: 100px;
  box-shadow: 0 0 0 5px rgba(3, 15, 1, 0.1);
  transition: border-color 0.75s, color 0.75s;
  will-change: color, border-color, background;
}

.closed .main {
  color: #f8f7f2;
  box-shadow: 0 0 0 5px rgba(3, 15, 1, 0);
}

.stack {
  background-color: #fa39d0;
  top: 90%;
  transition-duration: 0.525s;
}

.closed .stack {
  transform: translate3d(-4%, -100%, 0) rotate(-180deg);
  pointer-events: none;
}

.queue {
  background-color: #ee5656;
  top: 180%;
  transition-duration: 0.675s;
}

.closed .queue {
  transform: translate3d(4%, -184%, 0) rotate(-180deg);
  pointer-events: none;
}

.graph {
  background-color: #fa7d39;
  top: 270%;
  transition-duration: 0.825s;
}

.closed .graph {
  transform: translate3d(-4%, -270%, 0) rotate(-180deg);
  pointer-events: none;
}

.tree {
  background-color: #fec72e;
  top: 360%;
  transition-duration: 0.975s;
}

.closed .tree {
  transform: translate3d(-1%, -359%, 0) rotate(-180deg);
  pointer-events: none;
}

.sort {
  background-color: #1ab254;
  top: 450%;
  transition-duration: 1.125s;
}

.closed .sort {
  transform: translate3d(10%, -450%, 0) rotate(-180deg);
  pointer-events: none;
}

.mid {
  background-color: #1ba5cd;
  top: 540%;
  transition-duration: 0.975s;
}

.closed .mid {
  transform: translate3d(7.48944%, -550%, 0) rotate(-180deg);
  pointer-events: none;
}

.game-atag {
  text-decoration: none;
  text-align: center;
}

.game-atag .size-outline {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
}

.game-atag .size-outline .game-type {
  display: none;
  position: absolute;
  top: 4%;
  left: 21%;
  color: black;
  font-weight: 900;
}

.game-atag .size-outline .game-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 3%;
}

.size-outline:hover > img {
  opacity: 20%;
}

.size-outline:hover .game-type {
  display: block;
}

.size1 {
  margin-left: 15%;
}

.size2 {
  margin-left: -11%;
}

.go-to-study {
  position: fixed;
  right: 3%;
  bottom: 6%;
}

.go-to-study .after-study {
  display: block;
  width: 100%;
  background-color: white;
  font-size: 1.7vw;
  font-weight: 700;
  color: #6762cf;
  margin-left: 4%;
  border: none;
  border-bottom: 1px solid #6762cf;
}

.game-help {
  position: fixed;
  bottom: 15%;
  right: 2.5%;
  width: 13.7vw;
  background-color: lavender;
}

.game-help-title {
  font-weight: 700;
  margin-top: 10%;
}

.game-help-desc {
  margin: 10%;
}

.game-help-desc p {
  font-size: 0.9vw;
}


/* 반응형 */
.game-play-res {
  border-radius: 5%;
  width: 86vw;
  height: 48.375vw;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.go-to-study-res {
  margin-top: 20px;
}

.go-to-study-res .after-study {
  background-color: white;
  border-radius: 5%;
  font-size: 3vw;
  font-weight: 700;
  color: #6762cf;
  margin-left: 4%;
  border: none;
  border-bottom: 1px solid #6762cf;
}

.show-game-menu {
  display: block;
}

.hide-game-menu {
  display: none;
}

.game-help-res {
  background-color: lavender;
  display: flex;
  justify-content: center;
  margin-top: 4%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.game-help-card-res {
  width: 79%;
}

.game-help-title-res {
  margin-top: 5%;
  font-weight: 700;
  font-size: 3.5vw;
}

.game-help-desc-res {
  margin: 2%;
}

.game-help-desc-res p {
  font-size: 2.7vw;
}