.gamecard-container {
	background: white;
	border-radius: 5px;
	overflow: hidden;
	margin: 2em auto;
	height: 350px;
	width: 70%;
	display: flex;
	flex-direction: column;
}

.gamecard {
	display: flex;
	align-items: center;
	width: 100%;
}

.game-details {
	position: relative;
	float: left;
	width: 60%;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding-right: 5%;
}

.game-details>h1 {
	font-weight: 900;
}

.game-details .control .custom {
	width: 30%;
  font-size: 20px; 
  padding: 10px 0;
  background-color: white;
	border-width: 1px;
	border-color: #6762CF;
  border-radius: 10px;
  color: #6762CF;
  text-align: center;
  margin-top: 20px;
}

.game-details .control .custom:hover {
	background-color: #6762CF;
  color: white;
}

.game-details .control .custom .text {
	margin-left: 10px;
}

.game-image {
	position: relative;
	float: right;
	width: 40%;
	height: 100%;
	overflow: hidden;
}

.game-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gamecard-container hr {
	margin-top: 30px;
}

.gamelist-container>h1 {
	font-weight: 900;
	margin-top: 80px;
	margin-bottom: 100px;
}





















