.navbar {
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
}

.content-navbar {
  display: flex;
  flex-direction: row;
}

.content {
  margin-right: 10px;
  margin-left: 10px;
}


.auth-navbar {
  display: flex;
  flex-direction: row;
}

.text-middle {
 display: flex;
 align-items: center;
}

.main-container {
  display: flex;
  height: 90%;
}

.main-image {
  width: 50%;
}

.main-image > img {
  width: 40%;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.main-desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.study-card-image {
  height: 15rem;
  object-fit: cover;
}

.study-main {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.study-cards {
  width: 60%;
}

/* 회원가입 */

#signup_line {
  border-bottom:2px solid #A0A0A0;
  margin-top: 20px;
  width: 100%;
  display: flex;
}



#signup_line #icon {
  color:#A0A0A0; 
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#signup_line:focus-within #icon {
  color:#6562CF; 
}

#signup_line:focus-within {
  border-bottom: 2px solid #6562CF;
}

#signup_line input:focus {
  outline: none;
}

#signup_line input {
  border: none;
  width: 100%;
}

#errormessage {
  margin-bottom: 0px;
  color: red;
  font-size: 4px;
}

.signup_btn {
  font-size:20px; 
  padding:5px 8%;
  background-color: #6562CF;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}

