hr {
  margin: 0px;
  color: black;
  margin-top: 30px;
}

#study {
  padding-bottom: 50px;
}

#study img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#study h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

#study h1 {
  font-weight: bold;
}

#fixed {
  position: fixed;
  right: 3%;
  bottom: 3%;
}

#gameBtn {
  height: 80px;
  width: 80px;
  font-size: 20px; 
  padding: 10px 0;
  background-color: #6562CF;
  border: none;
  border-radius: 50px;
  color: white;
  text-align: center;
}


/* font-size: 20px; 
padding: 10px 0;
background-color: #6562CF;
border: none;
border-radius: 50px;
color: white;
text-align: center; */
/* 
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltip-content {
  visibility: hidden;
  width: 300px;
  background-color: orange;
  padding: 0;
  margin-top: 10px;
  color: white;
  text-align: center;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltip-content {
  visibility: visible;
} */